/* ------------------------------------------------------------- */
/*                      PROPIEDADES A MI MEDIDA                  */
/* ------------------------------------------------------------- */

:root {
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
   
    /* font-sizes */
    /* Clamp: en este caso  sirve para establecer  fs-900 en la manera flexible depedienmdo de la anchura de las ventanas del navegador. El primer número es el tamaño minimo y el último es el tamaño maximo, y el medio es la parte flexible */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-500: 1.75rem;
        --fs-600: 2rem;
        --fs-400: 1.125rem;
    }
}


/* ---------------------------------------------------------------- */
/*                          RESETEAR                                 */
/* ----------------------------------------------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/  
Enlace a un  reset simple y moderno en la web utilizado por el pofe*/ 

/*  Box sizing */   
/* Con eso hacemos que cuando declaramos, por ejemplo, width de 500px en un DIV... que dentro de estos 500px entran bordes, padding y contenido y que los margenes no entran. */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*   Resetear imagenes */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}   
/*      font weight GROSOR DE LETRA POR DEFECTO */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/*  Poner detalles en el body */
/* Por defecto es 1,4 y es aparentemente poco */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-dark) );
    line-height: 1.5; 
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
}
/* Para trabajar mas facil con las imagenes */
img,
picture {
    max-width: 100%;
    display: block;
}
/* Para trabajar mas facil con el formulario */

input,
button,
textarea,
select {
    font: inherit
}
/* Quitar las animaciones y transiciones para las personas que lo han solicitado en su navegador o sistema operativo, se trata de uma medida de accesibilidad */

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  /* ----------------------------------------------------------------------------- */
/*                        UTILIDAD DE CLASES                                      */
/* -------------------------------------------------------------------------------- */

/*     GENERAL       */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
} 

.d-block {
    display: block;
}

/* EN el elemento DONDE (:where) esta aplicada la classe .flow y a todos sus hijos ( > ) y de
cualquier elemento hijo ( * ) QUE NO ES (:not) el PRIMER HIJO (:first-child) haz esto... */ 

.flow  > *:where(:not(:first-child)) {
    margin-top: var(--flow-space,1rem);
 }
 .flow--space-small {
     --flow-space: .5rem;
 }

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}


/* Esta clase sirve para ocultar visualmente el contenido que usan 
los usuarios con problema visual*/

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* agregar linea */
    border: 0;
}
.skip-to-content {
    position: absolute;
    z-index: 9999;
    background: hsl( var(--clr-white) );
    color: hsl( var(--clr-dark) );
    padding: .5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: transform 250ms ease-in;
}
.skip-to-content:focus {
    transform: translateY(0);
}

/*       COLORES         */

.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-accent { background-color: hsl( var(--clr-light) );}
.bg-white { background-color: hsl( var(--clr-white) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-accent { color: hsl( var(--clr-light) );}
.text-white { color: hsl( var(--clr-white) );} 

/*         TIPO DE LETRA        */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}
.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px; 
}

.numbered-title span {
    margin-right: .5em;
    font-weight: 700;
    color: hsl( var(--clr-white) / .25);
}

/* --------------------------------------------------*/
/*             COMPONENTES        */
/* -------------------------------------------------- */

.large-button {
    font-size: 2rem;
    position: relative;
    display: inline-grid;
    z-index: 1;
    place-items: center;
    padding: 0 2em;
    border-radius: 50%;
    aspect-ratio: 1;
    text-decoration: none;
}
.large-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: hsl( var(--clr-white) / .15);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
}
/*  Primary-header  */

.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}
.primary-header {
    justify-content: space-between;
    align-items: center;
}
 
.primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --underline-gap: 2rem; /* Aqui declaro una variable solamente para esta clase */  
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl( var(--clr-white) /0.05 ); /* Efecto blour transparente en el backgroud(fondo) */  
    backdrop-filter: blur(1.5rem);  
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-right: .5em;
}

.mobile-nav-toggle {
    display: none;
} 

@media (max-width: 35rem){
.primary-navigation {
    --underline-gap: .5rem; /* Aqui declaro una variable solamente para esta clase */
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 1000;
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
    }
    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2rem;
        background: transparent;
        background-image: url(./assets/shared/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;     
}
.mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(./assets/shared/icon-close.svg);
}
.mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
    }
}

@media (min-width: 35em) {
    .primary-navigation {
        padding-inline: clamp(3rem, 7vw, 7rem);
    }
}

@media (min-width: 35em ) and (max-width: 44.999em) {
    .primary-navigation a > span {
        display: none;
    }
}

@media (min-width: 45em) {
    .primary-header::after {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        margin-right: -2.5rem;
        background: hsl( var(--clr-white) / .25);
        order: 1;
    }

    nav {
        order: 2;
    }

    .primary-navigation  {
        margin-block: 2rem;
    }
} 

.underline-indicators > * {
    cursor: pointer;
    padding: var(--underline-gap, .5rem) 0;  /* Aqui es donde utilizo la variable declarada en .primary-navigation, 1rem es el valor por defecto */
    border: 0;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
    background-color: transparent;

}
/* border balnco para todos los elementos en focus */
.underline-indicators > *:focus {
    border-color: hsl( var(--clr-white) / .5);
}

@media (hover: hover) {
    /* Subrayado en blanco para navegadores con mouse no es para moviles */
    .underline-indicators > *:hover{
        border-color: hsl( var(--clr-white) / .5);
    }
}


@media (min-width: 35rem) {
    /* Esto es para los no moviles para que aparesca la linea subrayada bajo el menu active o aria selected */
.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    color: hsl( var(--clr-white) / 1);
    border-color: hsl( var(--clr-white) / 1); 
    }
}

.tab-list {
    --gap: 2rem;
}

.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: .5em;
    background-color: hsl( var(--clr-white) / .25);
}

.dot-indicators > button:hover,
.dot-indicators > button:focus {
    background-color: hsl( var(--clr-white) / .5);
}

.dot-indicators > [aria-selected="true"] {
    background-color: hsl( var(--clr-white) / 1); 
}
.number-indicators {
    flex-direction: column;
    align-items: flex-start;
}

.number-indicators > * {
    border-radius: 50%;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    border: .1rem solid hsl( var(--clr-white) / .25 );
}
.number-indicators > button:hover,
.number-indicators > button:focus {
    border-color:  hsl( var(--clr-white) / .5 );
}
.number-indicators > [aria-selected="true"] {
    background-color: hsl( var(--clr-white) / 1); 
    color:hsl( var(--clr-dark) / 1);
    border: .1rem solid hsl( var(--clr-white) / 1 );

}
/* --------------------------------------------------*/
/*    IMAGEBES DE FONFOS  ESPECIFICAS POR PAGINAS    */
/* --------------------------------------------------*/


body {
    background-size: cover;
    background-position: bottom center;
}

/*     HOME     */

.home {
    background-image: url(./assets/home/background-home-mobile.jpg);
}

@media (min-width: 35rem) {
    .home {
        background-position: center center;
        background-image: url(./assets/home/background-home-tablet.jpg);
    }
} 
@media (min-width: 45rem) {
    .home {
        background-image: url(./assets/home/background-home-desktop.jpg);
    }
}
/* destination */

.destination {
    background-image: url(./assets/destination/background-destination-mobile.jpg);
}

@media (min-width: 35rem) {
    .destination {
        background-position: center center;
        background-image: url(./assets/destination/background-destination-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .destination {
        background-image: url(./assets/destination/background-destination-desktop.jpg);
    }
} 

/* crew */

.crew {
    background-image: url(./assets/crew/background-crew-mobile.jpg);
}

@media (min-width: 35rem) {
    .crew {
        background-position: center center;
        background-image: url(./assets/crew/background-crew-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .crew {
        background-image: url(./assets/crew/background-crew-desktop.jpg);
    }
} 

        /* ------------------------------------- */
        /*      Layout  (Colocar los elementos   */
        /* ------------------------------------- */


.grid-container {
    text-align: center;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
    padding-bottom: 4rem;

}

.grid-container p:not([class]) {
    max-width: 50ch;
}

.numbered-title {
    grid-area: title;
}

/*    DESTINACION LAYOUT   */

.grid-container--destination {
    --flow-space: 2rem;
    grid-template-areas:
        'title'
        'image'
        'tabs'
        'content';
  }
  
  .grid-container--destination > picture {
    grid-area: image;
    max-width: 60%;
  }
  
  .grid-container--destination > .tab-list {
    grid-area: tabs;
  }
  
  .grid-container--destination .destination-info {
    grid-area: content;
  }
  
  .destination-meta {
    flex-direction: column;
    border-top: 1px solid hsl( var(--clr-white) / .1);
    padding-top: 2.5rem;
    margin-top: 2.5rem;
  }
  .destination-meta p {
      font-size: 1.75rem;
  }
  /* CREW LAYOUT */

.grid-container--crew {
    --flow-space: 2rem;
    grid-template-areas: 
        'title'
        'image'
        'tabs'
        'content';
}
.grid-container--crew > picture {
    grid-area: image;
    max-width: 60%;
    border-bottom: 1px solid hsl( var(--clr-white) / .1);
}

.grid-container--crew > .dot-indicators {
    grid-area: tabs;
}

.grid-container--crew > .crew-details {
    grid-area: content;
}

.crew-details h2 {
    color: hsl( var(--clr-white) / .5);
}
  
  @media (min-width: 35rem) {
    .numbered-title {
      justify-self: start;
      margin-top: 2rem;
    }

    .destination-meta {
      flex-direction: row;
      justify-content: space-evenly;
    }
    .grid-container--crew {
        padding-bottom: 0;
        grid-template-areas: 
        'title'
        'content'
        'tabs'
        'image';
    }
  }


@media (min-width: 45em) {
    .grid-container {
      text-align: left;
      column-gap: var(--container-gap, 2rem);
      grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(1rem, 1fr);
    }
    .grid-container--home {
      padding-bottom: max(6rem, 20vh);
      align-items: end;
    }
  
    .grid-container--home > *:first-child { 
      grid-column: 2;
    }
    
    .grid-container--home > *:last-child {
      grid-column: 3;
    }
  
  
    .grid-container--destination {
      justify-items: start;
      align-content: start;
      grid-template-areas: 
      '. title title .'
      '. image tabs .'
      '. image content .';
    }
    .grid-container--destination > picture,
    .grid-container--crew > picture {
        max-width: 90%;
    }
    .destination-meta {
        --gap: min(6vw, 6rem);
        justify-content: start;
    }
    .grid-container--crew {
        grid-template-areas: 
            '. title title .'
            '. content image .'
            '. tabs image .';
    }
    .grid-container--crew > .dot-indicators {
        justify-self: start;
    }
    /* .grid-container--crew > picture {
        align-self: end;
    } */
  
  }
